@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    
}
@model CRUD.Models.Employee

<div class="container">
    <div class="container-fluid col-lg-8 col-md-10 col-sm-12 my-3">
        <h1 class="display-4 fw-bolder mb-3">Add Data</h1>
        <hr>
        <a href><button class="btn btn-primary btn-sm">+ Add Department</button></a>
        
    </div>
    <div class="bg-dark container-fluid col-lg-8 col-md-10 col-sm-12 rounded py-4">
    
    
    <form class="" asp-action="adding">

           
        <div class="mb-3">
            <input type="text" asp-for="EName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name">
        </div>
        <div class="mb-3">
            <input type="email" asp-for="EEmail" class="form-control" id="exampleInputPassword1" placeholder="E-mail">
        </div>
        <div class="mb-3">
            <input type="text" asp-for="EDesig" class="form-control" id="exampleInputPassword1" placeholder="Designation">
        </div>
            <select class="form-control mb-3" asp-for="DId" asp-items="ViewBag.Department">
                <option>select an optio</option>
            </select>
        <div class="text-center"><button type="submit" class="btn btn-primary w-50 mt-3">Submit</button></div>
    </form>
    </div>
</div>
